@import url('https://fonts.googleapis.com/css?family=Catamaran|Crete+Round&display=swap');

$primaryBlue: hsl(212, 61%, 65%);
$primaryLighterBlue: hsl(214, 61%, 76%);
$secondaryPurple: hsl(235, 57%, 51%);
$secondaryPurpleTwo: hsl(235, 57%, 74%);
$colorGrey: hsl(0deg, 0%, 30%);
$colorGreyTwo: hsl(0deg, 0%, 60%);
$colorGreyThree: hsl(0deg, 0%, 90%);

$headerFontSize: 2.5rem;
$navFontSize: 1.5rem;
$pFontSize: 1rem;
$hFontSize: 1.5rem;

$font-family-sans-serif: 'Catamaran', sans-serif;
$font-family-serif: 'Crete Round', serif;

$page-small: 360px;
$page-medium: 600px;
$page-large: 1200px;