@import "customVariables.scss";

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family-sans-serif;
}
nav {
  background-color: $primaryLighterBlue;
  position: relative;
  border: .2rem inset $primaryBlue;
  ul {
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;
  }
  li {
    border: .2rem inset $primaryBlue;
  }
}

.nav-link:hover {
  background-color: $secondaryPurple;
  color: $colorGreyThree;
}

.jumbotron {
background: linear-gradient($primaryBlue, $primaryLighterBlue);
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
border: 0.2rem inset $primaryLighterBlue;
}

header {
  h1 {
    color: $secondaryPurple;
    font-family: $font-family-serif;
    padding: 2rem;
  }
}

.avatar {
    width: 175px;
    height: 190px;
    border-radius: 50%;
    border: .1rem solid $secondaryPurpleTwo;
}

.avatar:hover {
  transform: translate(1rem) rotate(0deg);
  transition: transform 0.2s ease-out;

}


main {
  .h3 {
    display: flex;
    justify-content: center;
    font-family: $font-family-serif;
    border-bottom-style: double;
    border-color: $primaryLighterBlue;
    color: $secondaryPurple;
  }
  h5 {
      font-family: $font-family-serif;
      color: $colorGreyThree;
    }
  }

.list-group {
  padding: 1rem 6rem;
  margin: 1rem 2rem;
}

.list-group-item {
  background: linear-gradient($secondaryPurple, $primaryBlue);
  font-family: $font-family-sans-serif;
  color: $colorGreyThree;
}

.mb-1 {
  font-size: $hFontSize;
  color: $colorGreyThree;
  display: flex;
  justify-content: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.html {
  width: 70px;
  height: 70px;
}
.css, .javascript, .python, .sass, .github {
  width: 60px;
  height: 60px;
  padding: 0 1rem;
}

  .media {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
  }

.media-body {
  border: 1rem outset $primaryLighterBlue;
  padding: 1rem 1rem;
}

/* page 2 */


.card {
  display: flex;
  justify-content: center;
  border-radius: 0;
  padding: 0 2rem;
  margin: 0rem 2rem;
  background-color: $primaryLighterBlue;
}
.card:hover {
  background-color: $primaryBlue;
}
.card-title {
  font-size: $hFontSize;
  font-family: $font-family-serif;
  display: flex;
  justify-content: center;
  color: $secondaryPurple;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-family-sans-serif;
  font-size: $pFontSize;
}

.card-footer {
display: flex;
justify-content: flex-start;
margin-top: 1rem;
background-color: $secondaryPurple;
color: $colorGreyTwo;
}

.card-img-top {
width: 26rem;
height: 20rem;
}


/* third page */

form {
  .form-group {
    color: $colorGreyThree;
  padding: 1rem 1rem 2rem 1rem;
  margin: 1rem 2rem;
  font-family: $font-family-sans-serif;
  border: .5rem ridge $secondaryPurple;
  background-color: $secondaryPurpleTwo;
  }
  .form-control {
    color: $colorGreyThree;
    padding: 0 0 1rem;
    background: linear-gradient($colorGreyThree, $primaryLighterBlue);
  }
}

.btn {
  font-size: $pFontSize;
display: flex;
justify-content: center;
background-color: $secondaryPurple;
}


.btn {
  margin: 1rem 2rem;
}